<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        nav {
            width:100%;
            height:60px;
            background-color:white;
            line-height:50px;
        }

        nav ul {
            float:right;
        }

        nav ul li {
            margin:10px;
            list-style-type:none;
            display:inline-block;
        }

    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
<body>
    <div id="navbar">
        <nav>
            <ul>
                {% if user.is_authenticated %}
                    <a href="/logout"><li>로그아웃</li></a>
                {% else %}
                    <a href="/login"><li>로그인</li></a>
                    <a href="/join"><li>회원가입</li></a>
                {% endif %}
            </ul>
        </nav>
    </div>
    <div style="text-align: center;">
        <h1>사용자의 할 일을 입력해주세요</h1>
        <br> 
        <form action="/work/" method="post">
            {% csrf_token %}
            <label for="titleInput">할 일 제목:</label>
            <input id="titleInput" type="text" name="title">
            <br><br>
            <label for="descriptionInput">할 일 설명:</label>
            <textarea id="descriptionInput" name="description" rows="4" cols="50"></textarea>
            <br>
            <input type="submit" value="제출">
        </form>
    </div>
</body>
</html>